.custom-navbar {
  background-color: #154109;
  padding: 0;
}

.custom-navbar .nav-link {
  color: rgb(255, 255, 255);

}

.custom-navbar .nav-link:hover {
  color: #24ef05;

}

.custom-navbar .navbar-brand img {
  margin-right: 8px;
}

.card.document-card {
  width: 100%;
  max-height: 60vh;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.5) ;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
